* {
  font-family: 'Work Sans', sans-serif;
  outline: 0 !important;
}
body {
  margin: 0;
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
  box-shadow: 0 0px 30px rgba(0,0,0,0.25);
  overflow-x: hidden;
}
.valign {
  display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
  
}


#HomeSec {
  height: 100vh;
  min-height: 800px;
  max-height: 1200px;
}
#HomeMenu {
  width: 700px;
  margin: 0 auto;
  display: block;
  text-align: center;
  margin-bottom: 70px;
}
#HomeMenu label {
  text-align: center;
  display:inline-block;
  margin: 0 19px;
  font-size: 13px;
  letter-spacing: 2px;
  color: lightgray;
  border-bottom: solid 4px lightgray;
  padding: 10px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s;
}
#HomeMenu label:hover {
  border-bottom-color: gray;
  color: gray;
}
#HomeMenu .Selected {
  border-bottom-color: black !important;
  color: black !important;
}
#HomeInnerDiv {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}


#ChooseDiv {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  position: relative;
  height: 50px;
  border-radius: 5px;
  width: 550px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  transition: all 0.2s;
  margin-top:70px;
}
#ChooseDiv button {
  background: black;
  color: white;
  width: 49.8%;
  border: none;
  float: left;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
    transition: all 0.2s;
  text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
#ChooseDiv button:hover {
  letter-spacing: 2.7px;
}
#ChooseDiv:hover {
  
}
#ChooseDiv label {
  position: absolute;
  display: block;
  left: calc(50% - 12.5px);
  background: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 25px;
  font-size: 10px;
  top: 12.5px;
  color: dimgray;
}

#AboutSec {
  
  display: none;
  opacity: 0;
  visibility: hidden;
}
#Logo {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 200px;
}
#AboutInnerDiv {
  max-width:900px;
  margin: 0 auto;
}
#AboutTitle {
  font-size: 100px;
  font-weight: 100;
  margin-top: 50px;
  margin-bottom: 40px;
}
#AboutText {
  width: 85%;
  margin: 0 auto;
  text-align: justify;
  line-height: 200%;
  font-size: 15px;
  color: dimgray;
  
}

#MissionSec {
 
  display: none;
  opacity: 0;
  visibility: hidden;
  
}
#MissionInnerDiv {
  margin: 0 auto;
  text-align: center;
  border-radius: 8px;
  width: 1000px;
  padding: 30px 0;
  box-shadow: 0 30px 80px rgba(0,0,0,0.12);
  border-left: solid 8px black;
}

#MissionInnerDiv p {
  line-height: 200%;
  font-size: 19px;
  margin: 0 auto;
  letter-spacing: -0.5px;
}

#BeginSec {
  
  display: none;
  opacity: 0;
  visibility: hidden;
}
#BeginInnerDiv {
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 50px;
  margin: 0 auto;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 30px 80px rgba(0,0,0,0.13);
   border-left: solid 8px black;
  overflow: hidden;
}
#BeginName {
  position: absolute;
  left: 90px;
  bottom: -12px;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
}
#BeginInnerDiv img {
  float: left;
  height: 380px;
  object-fit: contain;
  object-position: center;
  padding-top: 0px;
}
#BeginTextDiv {
  width: 550px;
  margin: 0 auto;
}
#BeginTextDiv p {
  text-align: justify;
  line-height: 150%;
  margin-top: 25px;
}

#BoardSec {

  display: none;
  opacity: 0;
  visibility: hidden;
}
.BoardItem {
  display: inline-block;
  height: 300px;
  overflow: hidden;
  width: 250px;
  box-shadow: 0 15px 50px rgba(0,0,0,0.12);
  border-radius: 5px;
  margin: 0px 20px;
  margin-bottom: 0px;
  color: black;
  text-decoration: none;
  border-bottom: solid 5px black;
  
}
.BoardItem img {
  width: 180px;
  height: 180px;
  margin-top: 25px;
}
.BoardItem h1 {
  font-size: 25px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 13px;
}
.BoardItem h2 {
  font-size: 12px;
  margin-top: 0px;
  font-weight: 400;
  color: dimgray;
}
#BoardInnerDiv {
  margin: 0 auto;
}


#LocationPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.7);
  display: none;
}

#LocationInnerDiv {
  background-color: rgb(245,245,245);
  width: 425px;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.25);
  padding-top: 25px;
  background-image: url(img/WhiteCitySmall.png);
  background-attachment:local;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 65px;
}
#LocationInputDiv label{
  
  text-align: center;
  display: block;
  padding-top: 7px;
  color: lightgray;
  letter-spacing: 1px;
  font-size: 13px;
}
#LocationInputDiv {
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;

}
#LocationInputDiv p{
  display: none;
  text-align: center;
  padding: 10px 20px;
  padding-top: 0px;
  font-size: 15px;
  line-height: 140%;
}
#GlobeDiv {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 5px 60px rgba(0,0,0,0.25);
  overflow: hidden;
margin: 0px auto;
  margin-top: -80px;
  position: relative;
}
#GlobeDiv b {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.2));
  z-index: 2;
}
#GlobeDiv img {
  height: 100%;
  position: relative;
  left: 0;
  animation: GlobeSpin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}
@keyframes GlobeSpin {
  
  from {
    left: 0;
  }
  to {
    left: -148px;
  }
  
}
#LocationInput {
  text-align: center;
  height: 55px;
  width: 100%;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  font-weight: 300;
  margin: 0 auto;
  display: block;
}
#LocationClose {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  padding: 2px;
  color: gray;
  background: white;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

footer {

  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: relative;
  padding: 40px 0px;
  background: #222222;
  line-height: 30px;
  padding-right: 25px;
  overflow: hidden;
  box-shadow: inset 0 0px 3px rgba(0,0,0,0.2);
  text-align: center;
  padding-bottom: 10px;
}
.AppStoreIcon {
  height: 50px;
  margin: 35px 20px;
  margin-bottom: 10px;
}


#FooterCopyright {
  color: white;
  font-size: 14px;
  display: block;
  margin-top: 15px;
}

#SocialDiv {
  margin: 0 auto;
  text-align: center;
  width: 600px;
  overflow: hidden;
  margin-top: 30px;
}
#SocialDiv a {
  fill: white;
  width: 60px;
  height: 60px;
  padding: 0 10px;
  transition: all 0.2s;
  display: inline-block;
  margin: 0 17px;
  -webkit-filter: drop-shadow( 0px 1px 2px rgba(0,0,0,0.1)); 
}
#SocialDiv a:hover {
  -webkit-filter: drop-shadow( 0px 5px 10px rgba(0,0,0,0.2)); 
}
#FooterLinkDiv {
  margin: 0 auto;
  display: block;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-top: 20px;
  color: white;
}
#FooterLinkDiv a {
  display: inline-block;
  padding: 0 20px;
  font-size: 14px;
  color: white;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2);
  
}

#FooterLinkDiv .selected {
  font-weight: 700;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.2) !important;
  letter-spacing: 2px;
  background: none !important;
  border-radius: 5px;
  cursor: default;
  text-shadow: none !important;
  
}


