* {
  font-family: 'Work Sans', sans-serif;
  outline: 0 !important;
}

body {
  margin: 0;
  position: relative;
  max-width: 2000px;
  margin: 0 auto;
  box-shadow: 0 0px 30px rgba(0,0,0,0.25);
  overflow-x: hidden;
  margin-bottom: 95px;
}

.valign {
  display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
  
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

#HomeInnerDiv {
  height: 725px;
  position: relative;
  z-index: 2;
  width: 50%;
  margin-left: calc(25% - 300px);
  
}
#HomeTitle {
  font-weight: 200;
  font-size: 55px;
  margin-top: 55px;
  margin-bottom: 0px;
  line-height: 150%;
  letter-spacing: -1.5px;
}


#HomeSlantDiv {
   transform:skew(0deg,-5deg);
  -ms-transform:skew(0deg,-5deg); 
  -webkit-transform:skew(0deg,-5deg);
  transform-origin:right;
  background: #fd25d7;
  height: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

#HomeSec {
  position: relative;
  background: white;

}
#LogoImg {
  width: 250px;
  margin-top: 70px;

}

#HomeCTADiv {
  width: 450px;
  text-align: center;
  margin-top: 125px;
  box-shadow:  0 5px 40px rgba(0,0,0,0.2);
  background: white;
  border-radius:10px;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  height: 115px;
  
}
#HomeCTADiv:hover {
    box-shadow: 0 50px 80px rgba(0,0,0,0.3), 0 1px 3px rgba(0,0,0,0.2);
}
#HomeCTAFirstButton {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 45px;
  letter-spacing: 7px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  transition: all 0.4s;
  transition-timing-function: ease-in;
  transform: perspective(500px);
  transform-origin: bottom;
  cursor: pointer;
  border-radius: 10px;
  background: #25d7fd;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
  
}
#HomeCTAExpandDiv {
  transition: all 0.4s;
  transition-timing-function: ease-in;
  transform: perspective(500px) rotateX(-90deg);
  transform-origin: top;
  padding-bottom: 20px;
  background: #25d7fd;
}
#HomeCTAExpandDivTitle {
  font-size: 25px;
  color: white;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 15px;
}
#HomeCTAExpandDivSubtitle {
  font-size: 13px;
  text-align: center;
  width: 350px;
  display: block;
  margin: 0 auto;
  color: white;
  margin-bottom: 20px;
  font-weight: 400;
  
}
#HomeFeaturesDiv {
  height: 17px;
  padding: 5px 20px;
  background: white;
  color: white;
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  float: left;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-right: 15px;
  border-radius: 3px;
  cursor: default;
}
#HomeCTATextDiv {
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  width: 375px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 15px;
  background: white;
  position: relative;
}
#HomeCTATextDiv input {
  border: none;
  height: 100%;
  width: calc(100% - 160px);
  text-align: center;
  font-size: 22px;
  float: left;
  margin-top: -1px;
  background: none;
  left: 0px;
  position: relative;
  z-index: 1;
  left: 0;
  
}
#HomeCTATextDiv button {
  height: 100%;
  border: none;
  background: white;
  float: right;
  width: 180px;
  color: #25d7fd;
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s;
  position: absolute;
  z-index: 2;
  right: 0;

}
#HomeCTATextDiv button i {
  position: absolute;
  top: 13px;
  
}
#HomeCTATextDiv button:hover {
  letter-spacing: 2px;
  text-shadow: 0 5px 25px rgba(0,0,0,0.2);
}
#HomeCTAInfoLabel {
  color: gray;
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
  width: 300px;
}
#HomeCTADiv a {

  margin-right: 15px;
}
#HomeCTADiv img {
  height: 45px;
}
#HomeCTALoadingDiv {
  background: none;
  border: solid 4px #21e3a4;
  border-left-color: white;
  border-right-color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: block;
  margin-top: 8px;
  float: right;
  margin-right: 15px;
  animation-name: LoadingDivAnimate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#HomeCTALoadingParent {
  display: none;
}
@keyframes LoadingDivAnimate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#HomeCTALoadingText {
  font-size: 20px;
  line-height: 50px;
  font-size: 25px;
  color: dimgray;
  font-weight: 300;
  text-align: left;
  margin-left: 30px;
  display: block;
}
#HomeHeroImg {
  position: absolute;
  width: 47%;
  right: 00px;
  top: 130px;
  z-index: 2;
  

}

#HIWSec {
  background: #fd25d7;
  padding-top: 180px;
  position: relative;
  overflow: hidden;
}
#HIWTitle {
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.1);
  margin-bottom: 70px;
}
#HIWTitle i {
  display: block;
  font-size: 50px;
  margin-top: 60px;
}
.HIWItemDiv {
  height: 600px;
  position: relative;
  
  background-position: calc(50% + 250px);
  background-size: 300px;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

#HIWItemDiv1 {
  background-color: #fd25d7;
  background-image: url(img/HIWScreenshot1.png);
}
#HIWItemDiv2 {
  background-color: #25d7fd;
  background-image: url(img/HIWScreenshot2.png);
}
#HIWItemDiv3 {
  background-color: #f4e039;
  background-image: url(img/HIWScreenshot3.png);
}
#HIWItemDiv4 {
  background-color: #25fdb7;
  background-image: url(img/HIWScreenshot4.png);
}

.HIWItemDiv label {
  font-size: 25px;
  color: white;
  border: solid 3px rgba(255,255,255,0.3);
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.1);
  float: left;
  margin-right: 25px;
  font-weight: 500;
  position: relative;
  top: 10px;
  z-index: 5;
}
.HIWItemDiv h1 {
  font-size: 50px;
  font-weight: 300;
  text-shadow: 0 1px 3px rgba(0,0,0,0.1);
  color: white;
  margin-bottom: 15px;
  
}
.HIWItemDiv h2 {
  font-size: 16px;
  width: 250px;
  padding-left: 70px;
  color: white;
  text-shadow: 0 1px 3px rgba(0,0,0,0.15);
  line-height: 150%;
  margin-top: 0px;
}
#HIWScreenshot {
  float: right;
  width: 300px;
  position: absolute;
  right: 0;
  display: none;
  -webkit-filter: drop-shadow(0 20px 30px rgba(0,0,0,0.4));
}
#HIWItemInnerDiv {
   max-width: 750px;
  width: 90%;
  margin: 0 auto;
  padding-top: 0px;
  height: 100%;
  position: relative;
  z-index: 2;
  
}
#HIWItemLeftDiv {
  float: left;
  margin-top: -30px;
}

#HIWItemSlantDiv {
  transform:skew(0deg,7deg);
  -ms-transform:skew(0deg,7deg); 
  -webkit-transform:skew(0deg,7deg);
  transform-origin:right;
  height: 300px;
  position: absolute;
  right: 0;
  bottom: ;
  left: 0;
  z-index: 1;
  display: none;
}
#HIWItemNumberLine {
  width: 3px;
  background: rgba(255,255,255,0.3);
  height: 1800px;
  position: absolute;
  left: 44px;
  top: 260px;
  z-index: 2;
}
#HIWItemNumberLineDiv {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

#ReviewSec {
  height: 700px;
  position: relative;
  background: white;
  background: white;
}
#ReviewSlantDiv {
   transform:skew(0deg,5deg);
  -ms-transform:skew(0deg,5deg); 
  -webkit-transform:skew(0deg,5deg);
  transform-origin:right;
  height: 200px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background: white;
}
#ReviewInnerDiv {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  width: 90%;
  
}
#ReviewInnerDiv img {
  height:700px;
  object-fit: contain;
  object-position: bottom;
  position: relative;
  z-index: 3;
}
#ReviewTextDiv {
  float: right;
  width: calc(100% - 450px);
  margin-top: 100px;
}
#ReviewTextDiv .material-icons {
  color: lightgray;
  font-size: 100px;
  margin-left: -20px;
}
#ReviewTextDiv p {
  font-size: 23px;
  line-height: 160%;
  color: dimgray;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 35px;
}
#ReviewTextDiv label {
  font-size: 35px;
  font-weight: 300;
}
#ReviewTextDiv small {
  display: block;
  font-size: 15px;
  padding-left: 10px;
  color: dimgray;
  padding-top: 5px;
  font-weight: 400;
}

#FAQSec {
  background: linear-gradient(#25fdb7 3%,#25d7fd);
  position: relative;
}
#FAQSlantDiv {
    transform:skew(0deg,5deg);
  -ms-transform:skew(0deg,5deg); 
  -webkit-transform:skew(0deg,5deg);
  transform-origin:right;
  height: 200px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background: #25fdb7;
  z-index: 2;
}
#FAQInnerDiv {
  padding: 50px;
  margin: 0 auto;
  max-width: 1000px;
  width: 90%;
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  
}
#FAQTitle {
  font-size: 150px;
  font-weight: 100;
  color: white;
  letter-spacing: 20px;
  text-align: center;
  margin: 0;
  margin-top: -100px;
  margin-bottom: 120px;
}
.FAQItem {
  width: 80%;
  background: white;
  padding: 0px 30px;
  margin-bottom: 45px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 45px rgba(0,0,0,0.15);
  border-left: solid 10px #b725fd;
  
}
.FAQItem p {
  font-size: 30px;
  line-height: 150%;
  padding-right: 40px;
  margin-top: 17px;
}
.FAQItem label {
  color: lightgray;
  font-size: 10px;
  letter-spacing: 2px;
  margin-left: -15px;
  width: 100%;
  display: block;
  padding-top:10px;
}
.FAQQuestion {
  float: left;
  clear: both;
  border-top-left-radius: 0px;
}
.FAQAnswer label {
  text-align: right;
  margin-left: 15px;
  
}
.FAQAnswer div {
  font-size: 20px;
  line-height: 150%;
  padding-right: 40px;
  padding: 30px 0px;
  padding-top: 20px;
}
.FAQAnswer {
  float: right;
  clear: both;
  border-top-right-radius: 0px;
  border-left: none;
  border-right: solid 10px #fd256b;
}
.FAQAnswer ul {
  margin: 0;
}
.FAQBreak {
  height: 100px;
  overflow: hidden;
  display: block;
  width: 100%;
  
}


#CTASlantDiv {
   transform:skew(0deg,5deg);
  -ms-transform:skew(0deg,5deg); 
  -webkit-transform:skew(0deg,5deg);
  transform-origin:right;
  height: 200px;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  background: white;
  z-index: 2;
   overflow: hidden;
    box-shadow: 0px -3px 6px rgba(0,0,0,0.08);

}
#CTASlantDiv:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0; 
  bottom: 0;
  right: 0;
  background-size: cover;
  background-image: url(img/LaundryRoomBackgroundPart.jpg);
  height: 850px;

}
#CTASec {
  height: 750px;
  position: relative;
  background: rgb(240, 240, 240);
  background-size: cover;
  background-image: url(img/LaundryRoom.jpg);
  box-shadow: inset 0px 5px 5px rgba(0,0,0,0.08);
  perspective: 1000px;
  padding-bottom: 100px;
}
#CTASRightDiv {
  width: 650px;
  display: block;
  position: absolute;
  right: 0;
  top: 175px;
  bottom: 0;
}
#CTASInnerDiv {
  width: 90%;
  position: relative;
  overflow: hidden;
  height: 100%;
  
  
}
#CTASTitle {
  font-size: 35px;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  margin-bottom: 20px;
  
}
#CTASTitle small {
  display: block;
  font-size: 27px;
  font-weight: 300;
}
#CTASArrow {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: dimgray;
  font-size: 30px;
}

#CTASDiv {
  width: 450px;
  text-align: center;
 box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background: white;
  border-radius: 15px;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
  background: #fd25d7;
  height: 110px;
  margin: 0 auto;
  margin-top: 30px;
}
#CTASDiv:hover {
 box-shadow: 0 30px 70px rgba(0,0,0,0.2);
  
}

#CTASFirstButton {
  position: absolute;
  z-index: 5;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  border: none;
  background: #fd25d7;
  font-size: 45px;
  letter-spacing: 7px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  transition: all 0.4s;
  transition-timing-function: ease-in;
  transform: perspective(500px);
  transform-origin: bottom;
  cursor: pointer;
  border-radius: 15px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
#CTASExpandDiv {
  transition: all 0.4s;
  transition-timing-function: ease-in;
  transform: perspective(500px) rotateX(-90deg);
  transform-origin: top;
  padding-bottom: 20px;
  background: #fd25d7;
}
#CTASExpandDivTitle {
  font-size: 25px;
  color: white;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 15px;
}
#CTASExpandDivSubtitle {
  font-size: 13px;
  text-align: center;
  width: 350px;
  display: block;
  margin: 0 auto;
  color: white;
  margin-bottom: 20px;
  font-weight: 400;
  
}
#CTASTextDiv {
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  width: 375px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 15px;
  background: white;
  position: relative;
}
#CTASTextDiv input {
  border: none;
  height: 100%;
  width: calc(100% - 160px);
  text-align: center;
  font-size: 22px;
  float: left;
  margin-top: -1px;
  background: none;
  left: 0px;
  position: relative;
  z-index: 1;
  left: 0;
  
}
#CTASTextDiv button {
  height: 100%;
  border: none;
  background: white;
  float: right;
  width: 180px;
  color: #fd25d7;
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.4s;
  position: absolute;
  z-index: 2;
  right: 0;

}
#CTASTextDiv button i {
  position: absolute;
  top: 13px;
  
}
#CTASTextDiv button:hover {
  letter-spacing: 2px;
  text-shadow: 0 5px 25px rgba(0,0,0,0.2);
}
#CTASInfoLabel {
  color: gray;
  font-size: 14px;
  margin-bottom: 15px;
  display: block;
  width: 300px;
}
#CTASDiv a {

  margin-right: 15px;
}
#CTASDiv img {
  height: 45px;
}
#CTASLoadingDiv {
  background: none;
  border: solid 4px #21e3a4;
  border-left-color: white;
  border-right-color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  display: block;
  margin-top: 8px;
  float: right;
  margin-right: 15px;
  animation-name: LoadingDivAnimate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#CTASLoadingParent {
  display: none;
}
@keyframes LoadingDivAnimate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




#LocationPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.7);
  display: none;
}

#LocationInnerDiv {
  background-color: rgb(245,245,245);
  width: 425px;
  margin: 0 auto;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 10px 50px rgba(0,0,0,0.25);
  padding-top: 25px;
  background-image: url(img/WhiteCitySmall.png);
  background-attachment:local;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 65px;
}
#LocationInputDiv label{
  
  text-align: center;
  display: block;
  padding-top: 7px;
  color: lightgray;
  letter-spacing: 1px;
  font-size: 13px;
}
#LocationInputDiv {
  background: white;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 300px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;

}
#LocationInputDiv p{
  display: none;
  text-align: center;
  padding: 10px 20px;
  padding-top: 0px;
  font-size: 15px;
  line-height: 140%;
}
#GlobeDiv {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0 5px 60px rgba(0,0,0,0.25);
  overflow: hidden;
margin: 0px auto;
  margin-top: -80px;
  position: relative;
}
#GlobeDiv b {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,0.2));
  z-index: 2;
}
#GlobeDiv img {
  height: 100%;
  position: relative;
  left: 0;
  animation: GlobeSpin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  
}
@keyframes GlobeSpin {
  
  from {
    left: 0;
  }
  to {
    left: -148px;
  }
  
}
#LocationInput {
  text-align: center;
  height: 55px;
  width: 100%;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  font-weight: 300;
  margin: 0 auto;
  display: block;
}
#LocationClose {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  padding: 2px;
  color: gray;
  background: white;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

footer {

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  padding: 30px 0px;
  background: #101010;
  line-height: 30px;
  padding-right: 25px;
  overflow: hidden;
  box-shadow: inset 0 0px 3px rgba(0,0,0,0.2);
}
.AppStoreIcon {
  height: 35px;
  position: relative;
  top: -3px;
  margin-right: -10px;
}
.AppStoreIcon img{
  height: 100%;
}
footer a {
  float: right;
  padding: 0 20px;
  font-size: 12px;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
  text-transform: uppercase;
}
footer a:hover {
  color: rgba(255, 255, 255, 0.5);
}

#FooterCopyright {
  float: left;
  padding-left: 25px;
  color: white;
  font-size: 14px;
  
}
#SocialDiv {
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  float: right;
  padding-left: 25px;
  margin-left: 15px;
  padding-right: 25px;
  margin-right: 15px;
}
#SocialDiv a {
  fill: white;
   width: 30px;
        height: 30px;
  padding: 0 10px;
  transition: fill 0.2s;
}
#SocialDiv a:hover {
  fill: rgba(255, 255, 255, 0.5);
}

















